on:
  push:
    branches: master

name: R package

jobs:
  Rpackage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: s-weigand/setup-conda@v1

      - name: Install enviorment
        run: |
          pwd
          conda update --all
          conda install mamba -c conda-forge
          mamba install --channel "conda-forge" --channel "anaconda" --channel "r" tensorflow keras jupyter jupytext numpy pandas r-base r-devtools r-rgl r-cairo r-rjava r-mnormt r-purrrogress r-xml gxx_linux-64 libxml2 pandoc r-rjava r-magick opencv pkgconfig gfortran_linux-64
          echo "options(repos=structure(c(CRAN='http://cran.r-project.org')))" >> ~/.Rprofile
          Rscript -e 'update.packages(ask = F); install.packages(c("devtools","remotes")); remotes::install_cran("pkgdown");'
          Rscript -e 'devtools::source_url("https://raw.githubusercontent.com/kstawiski/OmicSelector/master/vignettes/setup.R")'
      - name: Install package
        run: R CMD INSTALL .

      - name: Check loading
        run: |
          Rscript -e 'library(OmicSelector); sessionInfo();'

      - name: Build package
        run: | 
          R CMD build --no-build-vignettes .

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: Rpackage
          path: OmicSelector_1.0.0.tar.gz
          
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: OmicSelector_1.0.0.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
